{% extends "layout.html" %}
{% block body %}
  <h1>Name: {{ pulsar.Name }}</h1>
  <h2>RA: {{ pulsar.RA }}</h2>
  <h2>DEC: {{ pulsar.DEC }}</h2>
  {% for source in pulsar.sources %}
    <h3>{{ source.Name }}</h3>
    {% for entry in source["data"] %}
      {% if source.Name != "ATNF" %}
        <p>{{entry}}: {{source["data"][entry]}}</p>
      {% else %}
        {% if source["data"][entry]|length == 1 %}
          <p>{{ entry }}: {{ source["data"][entry][0] }}</p>
        {% elif source["data"][entry]|length == 2 %}
          <p>{{ entry }}: {{ source["data"][entry][0] }}, Reference: <a href={{"http://www.atnf.csiro.au/research/pulsar/psrcat/psrcat_ref.html#" + source["data"][entry][1]}}>{{ source["data"][entry][1] }}</a></p>
        {% else %}
          <p>{{ entry }}: {{ source["data"][entry][0] }}, Error: {{ source["data"][entry][1] }}, Reference: <a href={{"http://www.atnf.csiro.au/research/pulsar/psrcat/psrcat_ref.html#"+source["data"][entry][2]}}>{{ source["data"][entry][2] }}</a></p>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endblock %}